---
---
@import "menu";
@import "header";
@import "content";
@import "footer";

body {
  margin: 0;
  background-color: aqua;
  background-image: url("/assets/img/snowflake.svg");
  font-size: 20px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.center {
  text-align: center;
}
