---
---

@import "menu";
@import "header";
@import "content";
@import "footer";

body {
  margin: 0;
  background-color: aqua;
  background-image: url("/assets/img/snowflake.svg");
  font-size: 20px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  & nav {
    height: auto;
  }
}

.center {
  text-align: center;
}

section {
  & .justify {
    text-align: justify;
    max-width: 960px;
    & h1 {
      text-align: center;
    }
  }
}
