section {
  padding: 12px;
  flex-basis: 80%;
  text-align: center;
  & .content {
    display: inline-block;
    max-width: 1200px;
  }
  & ul {
    display: inline-block;
    text-align: left;
  }
  & .content--wide {
    max-width: 100%;
  }
}

.inline-img {
  display: inline-block;
}

.banner {
  height: 80px;
  width: 240px;
}

.homepage--content {
  font-size: 20px;
}

.homepage--link__big--wrapper {
  text-align: center;
}

.homepage--link__big {
  max-height: 60px;
}

table {
  border: 1px solid black;
  & td {
    border: 1px solid black;
  }
}

.autori--table {
  text-align: left;
  & td {
    padding: 12px;
  }
}

.autori--table__image {
  text-align: center;
  & img {
    height: 200px;
  }
}

.recommendations--table {
  text-align: left;
  border: 0px transparent;
  & td {
    border: 0px transparent;
    padding: 30px 8px 30px 0px;
    vertical-align: top;
  }
  & .recommendations--image {
    text-align: center;
  }
  & img {
    vertical-align:top;
    height: 200px;
  }
}

.clothes--img {
  width: 728px;
}

.guestbook {
  width: 1000px;
  height: 1000px;
}

.image--center__wrapper {
  text-align: center;
}

.center--image {
  max-height: 300px;
  max-width: 600px;
  display: inline-block;
}
