section {
  padding: 12px;
  flex-basis: 80%;
  text-align: center;
  & .content {
    display: inline-block;
    max-width: 1200px;
  }
  & ul {
    display: inline-block;
    text-align: left;
  }
}

.inline-img {
  display: inline-block;
}

.banner {
  height: 40px;
  width: 120px;
}

.homepage--content {
  font-size: 20px;
}

.homepage--link__big--wrapper {
  text-align: center;
}

.homepage--link__big {
  max-height: 60px;
}

table {
  border: 1px solid black;
  & td {
    border: 1px solid black;
  }
}

.autori--table {
  text-align: left;
  & td {
    padding: 12px;
  }
}

.autori--table__image {
  text-align: center;
  & img {
    height: 200px;
  }
}

.guestbook {
  width: 1000px;
  height: 1000px;
}

.devadesatky--image__wrapper {
  text-align: center;
}

.devadesatky--image {
  max-height: 300px;
  display: inline-block;
}
