<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/img/icon.png">
</head>

<body>
    <header>
        <img src="/assets/img/ski.gif" alt="Ski" class="header title--img__gif">
        <img src="/assets/img/title.png" alt="Lyžák" class="header title--img">
        <img src="/assets/img/ski.gif" alt="Ski" class="header title--img__gif">
        <marquee behavior="" direction="left" class="subtitle__running">Nostalgický výlet do našich školních let</marquee>
    </header>
    <div class="wrapper">
        <nav>
            <a href="/">Domů</a>
            <a href="/hra/">Hra</a>
            <a href="/prakticke">Praktické</a>
            <a href="/devadesatky">Devadesátky</a>
            <a href="/co-si-oblict">Co si oblíct</a>
            <a href="https://forms.gle/jCFJV9QoELP6deh89" target="_blank">Přihláška</a>
            <a href="/navstevni-kniha/">Návštěvní kniha</a>
            <a href="/autori/">Autoři</a>
            <a href="/odkazy/">Odkazy</a>
        </nav>
        <section>
            <div class="content">
                {{ content }}
            </div>
        </section>
    </div>
    <footer>
        Optimalizováno pro rozlišení 1024 x 768. Nepoužívejte <a
            href="http://kkralikk.blog.cz/0709/10-duvodu-proc-nepouzivat-internet-explorer" target="_blank">Internet
            Explorer</a>!
        <br>
        Ⓒ Lyžák Team 2019
    </footer>
</body>

</html>