<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta property="og:image" content="/assets/img/og_image.jpg" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/img/icon.png">
</head>

<body>
    <header>
        <img src="/assets/img/skier.gif" alt="Ski" class="header title--img__gif">
        <a href="/"><img src="/assets/img/title_lyzak2.png" alt="Lyžák" class="header title--img"></a>
        <img src="/assets/img/skier.gif" alt="Ski" class="header title--img__gif">
        <marquee behavior="" direction="left" class="subtitle__running">Nostalgický výlet do našich školních let</marquee>
    </header>
    <div class="wrapper">
        <nav>
            <a href="/">Domů</a>
            <a href="/hra/">Hra</a>
            <a href="/prakticke">Praktické</a>
            <a href="/devadesatky">Devadesátky</a>
            <a href="/co-si-oblict">Co si oblíct</a>
            <a href="/co-zkouknout/">Co zkouknout</a>
            <a href="/prihlaska/" target="_blank">Přihláška</a>
            <a href="/autori/">Autoři</a>
            <a href="/odkazy/">Odkazy</a>
        </nav>
        <section>
            <div class="content {{ page.align }} {{ page.wide }} ">
                {{ content }}
            </div>
        </section>
    </div>
    <footer>
        Optimalizováno pro rozlišení 1024 x 768. Nepoužívejte <a
            href="https://zena-in.cz/clanek/na-cas-nepouzivejte-internet-explorer" target="_blank">Internet
            Explorer</a>!
        <br>
        E-mail: <a href="mailto:barczik92.lyzak@seznam.cz">barczik92.lyzak@seznam.cz</a>
        <br>
        Ⓒ Lyžák Team 2022
    </footer>
</body>

</html>
